body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #8483af;
}

h1 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}
